<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>After school classes</title>
    <script src="https://unpkg.com/vue"></script>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
</head>
<body>
    

<div id="app">

    <nav>
         {{sitename}}
    </nav>
                    <div id="checkoutId">
                        Payment details:
                        <div class="inputName">
                               <div> Name: </div>
                                <input type="text" name="" :placeholder="[[placeholder]]" v-model="checkout.name">
                        </div>  
                        <div class="inputNumber">         
                            <div>   Number: </div> 
                                <input type="text" name="" :placeholder="[[placeholder2]]" v-model="checkout.number">
                        </div>        
                                <button class="checkoutButton" :disabled="!validCheckout || !noCartItems" @click="checkoutFinish">Checkout</button>
                    
                    </div> 
                </div>
                <div v-else>
                    <h3>Checkout has been successfully completed</h3> 
                </div>
        </div>


</div>

<script src="app.js"></script>
</body>
</html>